@minWidth: 980px;

@body: #1a2939;
@loader: rgba(0, 0, 0, .45);
@blink: rgba(218, 31, 38, 0.3);

@grey: #232323;
@greyHover: #363636;

@darkBlue: #13202f;
@darkBlueHover: #192d43;

@defaultTextColor: rgba(255,255,255,0.85);
@defaultTextHoverColor: rgba(255,255,255,1);
@defaultBorder: rgba(255,255,255,0.15);
@defaultButton: rgba(255, 255, 255, .1);
@defaultButtonHover: rgba(255, 255, 255, .06);
@defaultButtonPressed: rgba(255, 255, 255, .06);

@bottomButtonHover: rgba(255, 255, 255, .10);
@bottomBorder: rgba(255,255,255,0.15);

@modalBorder: rgba(255,255,255,0.15);
@modalHeader: rgba(255,255,255,0.05);
@modalBody: rgba(0,0,0,0.02);
@modalInput: rgba(255,255,255,0.1);
@red: rgba(218,31,38,0.8);
@modalTextColor: rgba(255,255,255,1);

@scrollbarTrack: rgba(255,255,255,0.15);
@scrollbarThumb: rgba(255,255,255,0.25);

html {
	height: 100%;
	width: 100%;
	overflow-y: hidden;
	overflow-x: auto;
}

body {
	font-family: Arial, Helvetica, sans-serif;
	background-color: @body;
	color: #FFF;
	height: 100%;
	min-width: @minWidth;
	font-size: 13px;
	color: @defaultTextColor;
	
	background-image: url(../bg1.jpg);	
	background-size: cover; 
}

.defaultDropShadow {
	box-shadow: 0px 0px 5px rgba(0, 0, 0, .2);
}

a {
	text-decoration: none;
	color: @defaultTextColor;
}


.defaultTransition (@time: 0.2s) {
	-webkit-transition: all @time ease;                  
	-moz-transition: all @time ease;                 
	-o-transition: all @time ease;   
	-ms-transition: all @time ease;          
	transition: all @time ease;		
}

.rounded-corners (@radius: 3px) {
	border-radius: @radius;
}

#loader {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	margin: auto;
	z-index: 9999;
	width: 45px;
	height: 32px;
	background-image: url(../loader2.gif);
	background-repeat: no-repeat;
	background-position: center center;
	background-color: @body;
	opacity: 0.8;
	border-radius: 3px;
}

#loader img {
	display: none;
}


	
.modalWindow {
	
	#wrapper {
		background-color:rgba(23, 35, 51, .95);			
	}	
	
	display: none;
	border-radius: 2px;	
	border: solid 1px @modalBorder;
	position: absolute;
	z-index: 9999;
	max-width:600px;
	max-height: 600px;
	background-color: @modalBody;	
	
	color: @modalTextColor;
	
	.defaultDropShadow;
		
	.modalBody {
		padding: 15px;	
		position: relative;
	}	
	
	h2 {
		font-size: 1.4em;
		color: #FFFFFF;
	}	
	
	h3 {
		font-size: 1.1em;
		margin-bottom: 0.5em;
		font-weight: normal;
	}	
	
	p {
		margin-bottom: 0.5em;
	}		
	
	header {
		background-color: @modalHeader;
		padding: 12px;
		border-radius: 2px 2px 0 0;			
		position: relative;
		
		.modalClose {
			.defaultTransition;			
			position: absolute;
			top: 11px;
			right: 11px;
			font-size: 14px;
			display: block;
			width: 20px;
			text-indent: -9999em;
			height: 20px;
			line-height: 20px;
			text-align: center;
			cursor: pointer;
			background-color: @defaultButton;			
			background-image: url(../sprites.png);
			background-repeat: no-repeat;
			background-position: -7px -218px;
			border-radius: 2px;	
		}
		
		.modalClose:hover {
			background-color: @defaultButtonHover;
		}
		
		.modalClose:active {
			background-color: @defaultButton;
		}		
	}
		
	footer {
		padding: 15px;	
		border-top: 1px solid @defaultBorder;	
		text-align: right;
	}
} /* End #modalWindow */

.modalWindow.options {
	min-width: 300px;
	border: none;

	
	p {
		margin-bottom: 10px;
	}
	
	#maxVideoUsers {
		width: 40px;
		padding: 3px;
		margin-left: 5px;
	}
	
	#maxUsers {
		width: 40px;
		padding: 3px;
		margin-left: 5px;		
	}	
}

.modalWindow.share {
	width: 140px;	
	border: none;	
	
	#shareLoader {
		width: 45px;
		height: 32px;
		background-image: url(../loader2.gif);
		background-repeat: no-repeat;
		background-position: center center;
		top: 23px;
		left: 50px;
		text-align: center;
		opacity: 0.5;
		position: absolute;
		z-index: 10;
	}
	
	#wrapper {
		height: 120px;
	}
	
	#socialIcons {
		position: absolute;
		top: 22px;
		left: 15px;
		z-index: 11;
		background-color: #162231;
	}
}


.modalWindow.enterName {

	width: 100%;
	padding-bottom: 30px;

	min-width: 600px;	
	
	.main {	
		float: left;
		width: 65%;
		padding: 20px 40px 15px 20px;

		input[type="radio"] {
			position: relative;
			top: 2px;
		}			
		
		label {
			cursor: pointer
		}		
	}	
		
	.side {
		float: left;		
		width: 180px;
		height: 135px;
		overflow: hidden;
		border-radius: 3px;
		background-color:#000000;		
		position: relative;
		margin-top: 10px;		
		
		.audioOverlay {
			display: none;
			position: absolute;
			font-size: 10px;
			top: 0;
			left: 0;
			
			width: 30px;
			height: 30px;
			background-image: url(../sprites.png);
			background-repeat: no-repeat;
			background-position: -1px -142px;
			
			text-align: center;
			z-index: 11;
			background-color:#000;
			opacity: 0.8;
			
			span {
			  width: 50%;
			  margin: auto;
			  position: absolute;
			  top: 50%; left: 50%;
			  -webkit-transform: translate(-50%,-50%);
				  -ms-transform: translate(-50%,-50%);
					  transform: translate(-50%,-50%);				
			}
		}
		
		
		.videoOverlay {
			display: none;
			position: absolute;
			font-size: 11px;
			top: 0;
			left: 0;
			
			width: 100%;
			height: 100%;
			
			background-image: url(../iconRemoteVideoPaused.png);
			background-repeat: no-repeat;
			background-position: center center;						

			text-align: center;
			z-index: 10;
			background-color:#000;
			
			span {
			  width: 50%;
			  margin: auto;
			  position: absolute;
			  top: 50%; left: 50%;
			  -webkit-transform: translate(-50%,-50%);
				  -ms-transform: translate(-50%,-50%);
					  transform: translate(-50%,-50%);				
			}
		}		

		video {
			width: 100%;
			height: 100%;
			margin: 0;
		}
		
		#startControls {
				background-color:#000000;
				text-align: right;
				width: 100%;
				position: absolute;
				bottom: 0;
				opacity: 0.7;
				z-index: 11;
				
				
				
				button {
					background-color: #000000;
					text-indent:-9999em;
					width:30px;
					height:30px;
					border: none;
					cursor: pointer;
					.defaultTransition;		
				}
				
				button:hover {
					background-color: @grey;
				}	
				
				button:active {
					background-color: @greyHover;
				}	
				
				
				#startControlsMuteAudio {			
					background-image: url(../sprites.png);
					background-repeat: no-repeat;
					background-position: -1px -142px;
				}
				
				#startControlsMuteAudio.pressed {			
					background-position: -1px -178px;
				}
				
				
				#startControlsPauseVideo {			
					background-image: url(../sprites.png);
					background-repeat: no-repeat;
					background-position: -40px -142px;
				}		
				
				
				#startControlsPauseVideo.pressed {			
					background-position: -40px -178px;
				}				
					
			}		
		
	}
	
	span {
		font-size: 11px;
	}
	
	#spectatorTooltip,#voiceTooltip {
		cursor: pointer;
	}
	
		
	.formGroup {
		
		display: inline-block;
		border-radius: 2px;	
		position: relative;
			
		background-color: @modalInput;
		padding: 3px 65px 3px 3px;		
		margin-top: 10px;
		margin-bottom: 20px;
		width: 100%;
		
		#startButton:disabled {
			opacity: 0.2;
		}
		
		input[type="text"] {
			.defaultTransition;
			border-radius: 2px;	
			border: none;
			background: none;
			color: #FFF;
			padding: 8px;
			width: 100%;
			font-weight: bold;
			margin: 0;
			float: left;
		}	
				
			
		button {
			.defaultTransition;
			border: none;
			position: absolute;
			top: 0;
			right: 0;
			width: 60px;
			border-radius: 0 2px 2px 0;	
			cursor: pointer;
			padding: 8px;
			
			background: @red;
			color: #FFF;
			font-weight: bold;
			height: 100%;
			float: right;
		}	
		
		button:hover {
			background: rgba(218, 31, 38, .95);	
		}				
		
		button:active {
			background: rgba(218, 31, 38, .8);
		}	

	}
	
	
} /* End #modalWindow.enterName */


#globalContainer {
	position: absolute;
	height: 100%;
	width: 100%;
	padding: 75px 0 40px 0;	
}

.hideInitially {
	display: none;
}
	
	
#top {
	min-width: @minWidth;
	position: absolute;
	top: 0;
	width: 100%;
	height: 70px;	
    background: rgba(0, 0, 0, .0);	
		
	#logo {
		position: absolute;
		top: 20px;
		left: 20px;
		opacity:0.9;
		.defaultTransition(0.3s);	
			
	}
	
	#logo:hover {
		opacity:1;
	}	
			
	
	#sessionLink {
		position: relative;
		float: right;
		top: 20px;		
		margin-right: 20px;
		border: 2px solid @defaultBorder;
		height: 35px;
		width: 300px;
		border-radius: 5px;
		padding-right: 60px;
		
		#sessionLinkTextBox {
			width: 100%;
			display: block;
			padding: 7px;
			border: none;
			background: none;
			color: @defaultTextColor;
		}	
		
		button {
			position: absolute;
			top: 3px;
			right: 3px;
		    background-color: rgba(255,255,255,0.01);
			color: @defaultTextColor;
			padding-left: 18px;
			font-size: 11px;
			width:55px;
			height:25px;
			border: none;
			cursor: pointer;
			background-image: url(../sprites.png);
			background-repeat: no-repeat;
			background-position: -253px -5px;			
			border-radius: 2px;
		}
	
		
	}	
	
	
	#publicButton {
		display: none;
		position: relative;
		float: right;
		border: 2px solid @defaultBorder;
		height: 35px;
		top: 20px;
		margin-right: 20px;
		border-radius: 5px;
		background-color: transparent;
		color: @defaultTextColor;
		font-size: 12px;
		padding: 0 10px 0 30px;
		.defaultTransition;	
		font-size: 0.9em;
		background-image: url(../sprites.png);
		background-repeat: no-repeat;
		background-position: -319px -1px;
		cursor: pointer;
	}
	
	#publicButton:hover {
		border: 2px solid @defaultBorder;
		background-color: @defaultButtonHover;
		color: @defaultTextColor;
	}
	
	#publicButton:active {
		background-color: @defaultButtonPressed;

	}	
	
	#publicButton.pressed {
		background-color: @defaultButtonPressed;
		background-position: -319px -37px;
	}		
	
	#lockRoomButton {
		display: none;
		position: relative;
		float: right;
		border: 2px solid @defaultBorder;
		height: 35px;
		width: 35px;
		text-indent: -9999em;
		top: 20px;
		margin-right: 20px;
		border-radius: 5px;
		background-color: transparent;
		color: @defaultTextColor;
		font-size: 12px;
		padding: 0 0 0 0;
		.defaultTransition;	
		font-size: 0.9em;
		background-image: url(../sprites.png);
		background-repeat: no-repeat;
		background-position: -492px -2px;				
		cursor: pointer;
	}
	
	#lockRoomButton:hover {
		border: 2px solid @defaultBorder;
		background-color: @defaultButtonHover;
		color: @defaultTextColor;
	}
	
	#lockRoomButton:active {
		background-color: @defaultButtonPressed;

	}	
	
	#lockRoomButton.pressed {
		background-color: @defaultButtonPressed;
		background-position: -492px -37px;				
	}		
	
	ul {
		position: relative;
		float: right;
		top: 20px;		
		margin-right: 20px;		

		li:first-child button {
			border-radius: 5px 0 0 5px;
		}
		
		li:last-child button {
			border-radius: 0 5px 5px 0;
		}		
	}
	
	ul li {
		float: left;
		margin: 0 1px 0 0;
		padding:0;					
		
		button {
		    background-color: @defaultButton;
			text-indent:-9999em;
			width:35px;
			height:35px;
			border: none;
			cursor: pointer;
			.defaultTransition;		
		}
		
		button:hover {
		    background: rgba(255, 255, 255, .2);
		}	
		
		button:active {
		    background: rgba(255, 255, 255, .1);
		}			
		
		button:disabled {			
			opacity: 0.2;
		}		
		
		#fullScreenButton {			
			background-image: url(../sprites.png);
			background-repeat: no-repeat;
			background-position: 1px 0;
		}
		
		#fullScreenButton.pressed {			
			background-position: 1px 0;
		}		
		
		#optionsButton {			
			background-image: url(../sprites.png);
			background-repeat: no-repeat;
			background-position: -70px 1px;
		}		
		
		#addUserButton {			
			background-image: url(../sprites.png);
			background-repeat: no-repeat;
			background-position: -106px 0;
		}
		

		
			
		#powerButton {	
		    background: rgba(218, 31, 38, .8);	
			background-image: url(../sprites.png);
			background-repeat: no-repeat;
			background-position: -141px 0;
		}
		
		#powerButton:hover {	
		    background: rgba(218, 31, 38, .95);	
			background-image: url(../sprites.png);
			background-repeat: no-repeat;
			background-position: -141px 0;			
		}	
		
		#powerButton:active {	
			background-color: #880606;		
		}											
	
	} /* End ul li */

	
} /* End #top */

#mediaContainer {
	float: left;
	height: 100%;
	width: 100%;
	padding: 0 20px 0 20px;

	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;

	overflow: hidden;
	
}	

		
		
#center {
	min-width: @minWidth;
	width: 100%;
	height: 100%;
	position: relative;
	overflow: hidden;
	

	#usersListBox {
		display: none;
		position: absolute;
		bottom: 0;
		height: 60%;
		width: 250px;
		border-right: 1px solid @defaultBorder;
		border-top: 1px solid @defaultBorder;		
	    background: rgba(0, 0, 0, .5);
		padding: 20px;
		z-index: 9999;
		
		#usersSelect {
			background: none;
			padding: 5px;
			border: none;
			width: 100%;
			height: 100%;
			color: #696972;
			position: relative;
			overflow-y: auto;
		}
	}
	
	#messageLogBox {

		display: none;
		position: absolute;
		bottom: 0;
		right: 0;
		
		height: 100%;
		width: 250px;
		border-left: 1px solid @defaultBorder;
		border-top: 1px solid @defaultBorder;		
	    background: rgba(0, 0, 0, .15);
		padding: 20px 20px 80px 20px;

		
		.formGroup {
			position: absolute;
			bottom: 20px;
			width: 210px;
			height: 30px;
			border: 1px solid @defaultBorder;
			border-radius: 2px;	
			padding: 3px 55px 3px 3px;	
		}
		
		#messageLogTextArea {
			height: 100%;
			width: 100%;
			background: none;
			overflow: auto;
			border: none;
			padding: 0px 10px 0 0;
			font-family: Arial, Helvetica, sans-serif;
			color: @defaultTextColor;
			font-size: 0.9em;
			resize: none;	
			line-height: 20px;
			
			.singleMessage {
				margin-bottom: 5px;
				font-size: 1em;
				width: 100%;
				word-wrap: break-word;							
				line-height: 1.3em;
				
				a {
					text-decoration: underline;
				}
			}					
			
		}
		
		#messageTextBox {
			color: @defaultTextColor;
			background: none;
			border: none;
			width: 100%;				
			padding: 3px;		
		}
		
		#sendMessageButton {
			position: absolute;
			top: 0;
			right:0;
			height: 100%;
			border-radius: 2px 2px 0 0;
			width: 30px;
			.defaultTransition;
			border-radius: 1px;				
			border: none;
			cursor: pointer;
			background-color: transparent;
			background-image: url(../sprites.png);
			background-repeat: no-repeat;
			background-position: -210px -74px;
			text-indent: -9999em;			
			color: #FFF;
		}	
		
		#sendMessageButton:hover {
			background-color: @defaultButtonHover;
		}				
		
		#sendMessageButton:active {
			background-color: @defaultButton;
		}			
		
		
	}
		
} /* End #center */


#bottom {	
	min-width: @minWidth;
	bottom: 0;
	position: absolute;
	width: 100%;
	height: 40px;
	border-top: 1px solid @bottomBorder;
    background: rgba(0, 0, 0, .15);	
	
	#usersButton {
		float: left;
		display: inline-block;
		height: 100%;
		line-height: 40px;	
		padding-left: 40px;
		padding-right: 15px;
		.defaultTransition;	
		font-size: 0.9em;
		background-image: url(../sprites.png);
		background-repeat: no-repeat;
		background-position: -240px -70px;	
		border-right: 1px solid @bottomBorder;		
			
	}
	
	#usersButton:hover {
		background-color: @bottomButtonHover;
	}
	
	#usersButton:active {
		background-color: transparent;
	}	
		
	#usersButton.pressed {
		background-color: @bottomButtonHover;
	}		
	
		
	#dartBot {
		float: left;
		height: 100%;
		line-height: 40px;
		padding: 0 15px 0 15px;
	}	
	#messagebuttonContainer {
		float: right;
		width: 180px;
		height: 100%;		
		
		#messageLogButton {
			cursor: pointer;		
			border: none;
			height: 100%;
			width: 100%;
			margin: 0;
			border-left: 1px solid @bottomBorder;
			padding:0 10px 0 40px;
			background: none;
			color: #9d9d9d;		
			.defaultTransition;
			background-image: url(../sprites.png);
			background-repeat: no-repeat;
			background-position: 2px -68px;
			
		}
		
		#messageLogButton.blink {
			background-color: @blink;
			color: #FFFFFF;	
		}
		
		#messageLogButton:hover {
			background-color: @bottomButtonHover;
		}		
		
		#messageLogButton:active {
			background-color: transparent;
		}		
		
		#messageLogButton.pressed {
			background-color: @bottomButtonHover;
		}			
		
			
		.popout {
			background-color: @red;
			position: absolute;
			top: -8px;
			right: 4px;
			font-size: 11px;
			font-weight: bold;
			padding: 3px;
			border-radius: 3px;
			z-index: 20;
			display: none;
			color:#FFF;
		}
		
		.popout.visible {
			display: inline-block;
		}		
	}
				
} /* End #bottom */

#usersContainer {
	overflow: visible;
	width: ~"calc(100% - 175px)";	
	position: absolute;
	left: 10px;
	top: 8px;
	height: 25px;
	
	ul {
		height: 100%;
		width: 100%;
	
		li.userbox {
			display: inline-block;			
			list-style: none;
			position: relative;
			height: 100%;
			margin-right: 5px;
			width: 30%;
			min-width: 190px;
			max-width: 250px;
			background-color: rgba(7,10,13, 0.35);
			z-index: 9998;
			
			.popout {
				background-color: @red;
				position: absolute;
				top: -8px;
				right: -3px;
				font-size: 0.85em;
				font-weight: bold;
				padding: 3px;
				border-radius: 3px;
				z-index: 20;
				display: none;
			}
			
			.popout.visible {
				display: inline-block;
			}
			
			.username {
				position: absolute;
				width: 100%;
				height: 100%;
				z-index: 10;
				padding: 6px 6px 6px 23px;
				background-image: url(../iconUserBox.png);
				background-repeat: no-repeat;
				background-position: 7px 9px;
				color: @defaultTextColor;				
				overflow: hidden;
				cursor: pointer;
				
				span {
					display: block;
					overflow: hidden;					
					width: ~"calc(100% - 25px)";
					line-height: 50px;
					position: relative;
					top: -19px;
				}
			}	
			
			.typeIcon{
				display: none;
				position: absolute;
				right: 0;
				bottom: 0;
				width: 25px;
				height: 25px;
				z-index: 10;
				text-indent: -9999em;
				opacity: 0.3;
			}	
			
			.typeIcon.spectator  {
				background-image: url(../sprites.png);
				background-repeat: no-repeat;
				background-position: -7px -285px;				
				display: inline-block;
			}
			
			.typeIcon.regular  {
				background-image: url(../sprites.png);
				background-repeat: no-repeat;
				background-position: -76px -285px;				
				display: inline-block;
			}
			
			.typeIcon.audio  {
				background-image: url(../sprites.png);
				background-repeat: no-repeat;
				background-position: -41px -285px;				
				display: inline-block;
			}						
						
			.expandedForm {
				position: absolute;
				width: 100%;
				height: 280px;
				background-color: #111b26;
				z-index: 10;
				top: -281px;
				display: none;	
				box-shadow: 0px 0px 5px rgba(0, 0, 0, .2);
				opacity: 0.95;
				
				.options {
					border-bottom: 1px solid rgba(255,255,255,0.05);
					width: 100%;
					position: absolute;
					top: 0;
					height: 25px;
					
					button {
						float: right;
						width: 25px;
						height: 25px;
						text-indent: -9999em;
						border: none;
						background-color: transparent;
						background-image: url(../sprites.png);
						background-repeat: no-repeat;
						opacity: 0.5;
						cursor: pointer;
					}
					
					button:hover{
						opacity: 0.8;
					}
					
					button:active{
						opacity: 0.5;
					}					
					
					.close {
						background-position: -75px -250px;
					}
					.disconnect {
						background-position: -40px -250px;
					}					
				}
				
				.messages { 
					position: absolute;
					top: 35px;
					left: 10px;
					width: ~"calc(100% - 20px)";
					background-color: transparent;
					height: ~"calc(100% - 70px)";
					overflow: auto;
						.singleMessage {
							margin-bottom: 5px;
							font-size: 0.85em;
							width: 100%;
							word-wrap: break-word;							
							line-height: 1.3em;
							
							a {
								text-decoration: underline;
							}
						}					
				}
				
				.formGroup {
					position: absolute;
					bottom: 0;
					width: 100%;
					height: 25px;
					background-color: transparent;
					border-top: 1px solid rgba(255,255,255,0.05);
					
					.messageTextBox {
						width: ~"calc(100% - 30px)";
						height: 100%;
						padding: 5px;
						border: none;
						background-color: transparent;
						color: @defaultTextColor;
						font-size: 0.85em;
					}
					
					.sendNudgeButton {
						position: absolute;
						top: 0;
						right: 25px;
						height: 100%;
						width: 25px;
						border: 0;
						cursor: pointer;
						background-image: url(../sprites.png);
						background-repeat: no-repeat;
						background-position: -107px -251px;
						text-indent: -9999em;
						background-color: transparent;
						color: #FFF;
						opacity: 0.5;						
					}
					.sendNudgeButton:hover {
						opacity: 0.8;
					}	
					.sendNudgeButton:active {
						opacity: 0.5;
					}	
					
										
					
					.sendMessageButton {
						position: absolute;
						top: 0;
						right: 0;
						height: 100%;
						width: 25px;
						border: 0;
						cursor: pointer;
						background-image: url(../sprites.png);
						background-repeat: no-repeat;
						background-position: -3px -251px;
						text-indent: -9999em;
						background-color: transparent;
						color: #FFF;
						opacity: 0.5;						
					}
					.sendMessageButton:hover {
						opacity: 0.8;
					}	
					.sendMessageButton:active {
						opacity: 0.5;
					}		
					
													
				}
			}
		}
		
		li:hover {
			background-color: rgba(7,10,13, 0.75);
			
			.username {
				background-image: url(../iconUserBox.png);
				color: @defaultTextHoverColor;
			}	
		}
		
		li.pressed {
			
			background-color: rgba(7,10,13, 0.75);
			
			.username {
				background-image: url(../iconUserBox.png);
			}				
			.expandedForm {
				display: block;
			}
		}
		
		li.blink {
			background-color: @blink;
		}		
		
	}	
}






.scrollbar
{
	overflow-y: scroll;
	overflow-x: scroll;	
}


/*
 *  ScrollStyle1
 */

.ScrollStyle1::-webkit-scrollbar-track {
	background-color: @scrollbarTrack;
	border-radius:8px;	
}

.ScrollStyle1::-webkit-scrollbar-corner {
	background-color: @scrollbarTrack;
}

.ScrollStyle1::-webkit-scrollbar {
	width: 8px;
	height: 8px;
	background-color: @scrollbarTrack;
	border-radius:8px;
	
}


.ScrollStyle1::-webkit-scrollbar-thumb {
	background-color: @scrollbarThumb;
	border-radius:8px;
	
}













































#alertBox {
	position: absolute;
	top: 300px;
	background-color: rgba(0, 0, 0, .95);
	padding: 20px;
	border: 1px solid rgba(255,255,255,0.25);
	border-radius: 3px;
	z-index:9999;
	display: none;
	.defaultDropShadow;
}










/* Tooltip*/

.ui-tooltip, .arrow:after {
	background-color: @darkBlue;
	border: 2px solid @darkBlueHover + 20;
}

.ui-tooltip {
	padding: 10px 20px;
	color: white;
	border-radius: 5px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	line-height: 16px;
	text-transform: uppercase;
	box-shadow: 0 0 2px black;
}

.arrow {
	width: 70px;
	height: 16px;
	overflow: hidden;
	position: absolute;
	left: 50%;
	margin-left: -35px;
	bottom: -16px;
}
.arrow.top {
	top: -16px;
	bottom: auto;
}
.arrow.left {
	
}
.arrow:after {
	content: "";
	position: absolute;
	left: 20px;
	top: -20px;
	width: 25px;
	height: 25px;
	box-shadow: 6px 5px 9px -9px black;
	-webkit-transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	-o-transform: rotate(45deg);
	tranform: rotate(45deg);
}
.arrow.top:after {
	bottom: -20px;
	top: auto;
}  


#spectatorOverlay {
	width: 100%;
	height: 100%;
	position: absolute;
	background-color: #000000;
	z-index: 13;
	background-image: url(../iconSpectatorMode.png);
	background-repeat: no-repeat;
	background-position: center center;
	display: none;
}

#voiceCallOverlay {
	width: 100%;
	height: 100%;
	position: absolute;
	background-color: #000000;
	z-index: 10;
	background-image: url(../iconVoiceCallMode.png);
	background-repeat: no-repeat;
	background-position: center center;
	display: none;	
}


#voiceOnly{
	margin-left: 20px;
}



/* Video Engine */

#firstRow {
	overflow: hidden;
}

#secondRow {
	overflow: hidden;
}	

.cell {
	color:#999;
	text-align: center;			
	height: 100%;	
	position: relative;	
	padding: 0;
	overflow: hidden;
		
	text-align: center;

	display: -moz-box;
	display: flex;
	-moz-box-align: center;
	align-items: center;
	-moz-box-pack: center;
	justify-content: center;
	
	padding: 10px;			
}
	
.fullHeight {
	height: 100%;
}

.halfHeight {
	height: 50%;
}
	
	
	
	
	
#voiceOnlyOptionBox, #spectatorOptionBox {
	margin-left: 10px;
}
	
	
	
	
	
	
	
	
	
	
	
	
	
/* Client */
	
#client .userDisconnect {			
	display: none;
} 

#client #lockRoomButton {			
	display: none;
} 	




















.resize-sensor, .resize-sensor > div {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: -1;
}










































.umb.audioElementContainer {
	background-color: transparent;
	box-shadow: none;
	
	.audioWrap {
		z-index: 30;
		width: 100%;
		height: 150px;
		margin: auto;
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;

		.audioUserMuted {
			position: relative;
			width: 120px;
			height: 120px;
			margin: auto;
			background-image: url(../iconAudioUser.png);
			background-position: -260px 0;
			background-repeat: no-repeat;
			display: none;			
		}
		
		.audioUser {
			position: relative;
			width: 120px;
			height: 120px;
			margin: auto;
			background-image: url(../iconAudioUser.png);
			background-position: 0 0;			
			background-repeat: no-repeat;

		}
		
		.userName {
			position: relative;
			top: 10px;
			width: 100%;
			text-align: center;
		}		
	}
	
	.audioWrap.audOverlay  {
		.audioUserMuted {
			display: block;
		}	
		.audioUser {
			display: none;
		}			
	}	
	
	.audioUser.pressed {
		background-image: url(../iconAudioUser.png);
		background-position: -130px 0;		
	}	
	
}


.umb {
	position: absolute;
	left: 50%;
	background-color:#CCC;	
	background-color: #000000;
	padding: 0 0 0 0;
	z-index: 1;
	box-shadow: 1px 1px 5px #0f0f10;

		
	.loaderDiv {
		z-index: 2;		
		position: absolute;


		width: 25px;
		margin: auto;
		position: absolute;
		top: 50%; left: 50%;
		-webkit-transform: translate(-50%,-50%);
		-ms-transform: translate(-50%,-50%);
		transform: translate(-50%,-50%);
		opacity: 0.35;
		
		text-align: center;
	}
	
	.disablerOverlay {
		position: absolute;
		height: 100%;
		width: 100%;
		z-index: 30;		
	}
	

	.videoWrap {
		.defaultTransition;				
		opacity: 1;
		position: absolute;
		width: 100%;
		height: 100%;
		background-color:#000000;
		z-index: 1;

		.masterVideoOverlay {
			display: none;
			position: absolute;
			font-size: 11px;
			top: 0;
			left: 0;
			
			width: 100%;
			height: 100%;

			text-align: center;
			z-index: 20;
			background-color:#000;
			
			background-image: url(../masterVideoOverlay.png);
			background-repeat: no-repeat;
			background-position: center center;			
			
		}
		

		.audioOverlay {
			display: none;
			position: absolute;
			font-size: 10px;
			top: 0;
			left: 0;
			
			width: 30px;
			height: 30px;
			background-image: url(../sprites.png);
			background-repeat: no-repeat;
			background-position: -1px -142px;

			text-align: center;
			z-index: 15;
			background-color:#000;
			opacity: 0.8;
			
		}
		
		
		.videoOverlay {
			display: none;
			position: absolute;
			font-size: 11px;
			top: 0;
			left: 0;
			cursor: pointer;
			
			width: 100%;
			height: 100%;

			text-align: center;
			z-index: 10;
			background-color:#000;
			
			background-image: url(../iconRemoteVideoPaused.png);
			background-repeat: no-repeat;
			background-position: center center;			
	
		}			
		
	}
	
	video {
		position: absolute;
		width: 100%; 
		height: 100%;
		cursor: pointer;
	}	
	
	.info {
		.defaultTransition;	
		background-color:#000000;
		color: #696972;	
		font-weight: bold;
		bottom: -1px;
		height: 31px;
		width: 100%;
		position: absolute;
		text-align: right;
		opacity: 0.5;
		z-index: 25;
		overflow: hidden;
		
		.userName {
			position: absolute;
			top: 8px;
			left: 9px;
			width: ~"calc(100% - 145px)";
			
			text-align: left;
			overflow: hidden;
			line-height: 50px;
			top: -10px;
			height: 30px;			
		}
		

		button {
			background-color: transparent;
			text-indent:-9999em;
			width:30px;
			height:30px;
			border: none;
			cursor: pointer;
			.defaultTransition;		
		}
		
		button:hover {
			background-color: @grey;
		}	
		
		button:active {
			background-color: @greyHover;
		}	


		.localMuteAudio {			
			background-image: url(../sprites.png);
			background-repeat: no-repeat;
			background-position: -1px -142px;
		}
		
		.localMuteAudio.pressed {			
			background-position: -1px -178px;
		}
		
		.localPauseVideo {			
			background-image: url(../sprites.png);
			background-repeat: no-repeat;
			background-position: -40px -142px;
		}
		
		.localPauseVideo.pressed {			
			background-position: -40px -178px;
		}	

	
		.userMuteAudio {			
			background-image: url(../sprites.png);
			background-repeat: no-repeat;
			background-position: -1px -142px;
		}
		
		.userMuteAudio.pressed {			
			background-position: -1px -178px;
		}
		
		.userPauseVideo {			
			background-image: url(../sprites.png);
			background-repeat: no-repeat;
			background-position: -40px -142px;
		}
		
		.userPauseVideo.pressed {			
			background-position: -40px -178px;
		}	
		
		.userDisconnect {			
			background-image: url(../sprites.png);
			background-repeat: no-repeat;
			background-position: -72px -142px;	
		}
		
		.userDisconnect.pressed {			
			background-position: -72px -178px;			
		}
		
		.fullscreen {			
			background-image: url(../sprites.png);
			background-repeat: no-repeat;
			background-position: -107px -143px;	
		}
		
		.fullscreen.pressed {			
			background-position: -107px -143px;	
		}
			
	}
	
}
.umb:hover {

	.info {
		opacity: 0.8;		
	}
}

.umb.antiVec {
	display: none;

	position: relative;
	background-color: transparent;
	padding: 0 0 0 0;
	z-index: 1;
	box-shadow: none;
	margin: auto;
	width: 100px;
	height: 75px;
	max-width: 100%;
	max-height: 100%;
	overflow: hidden;
		display: -moz-box;
		display: flex;
		-moz-box-align: center;
		align-items: center;
		-moz-box-pack: center;
		justify-content: center;	


	.videoWrap {
		opacity: 0;
	}
	
	.info {
		opacity: 0;
	}	
}


.smiley {
	position: relative;
	top: 4px;
	width: 16px;
	height: 18px;
	display: inline-block;
	background-repeat: no-repeat;
	background-image: url('../smileys/smileyPack1.png');	
	background-position: center center;
}

.smiley.angry		{ background-position: 0px center; }
.smiley.confused	{ background-position: -16px center; }
.smiley.cool		{ background-position: -32px center; }
.smiley.evil		{ background-position: -48px center; }
.smiley.neutral		{ background-position: -64px center; }
.smiley.sad			{ background-position: -80px center; }
.smiley.shocked		{ background-position: -96px center; }
.smiley.smile		{ background-position: -112px center; }
.smiley.happy		{ background-position: -128px center; }
.smiley.tongue		{ background-position: -144px center; }
.smiley.wink		{ background-position: -160px center; }
