@defaultTextColor: rgba(255,255,255,0.85);

.defaultTransition (@time: 0.2s) {
	-webkit-transition: all @time ease;                  
	-moz-transition: all @time ease;                 
	-o-transition: all @time ease;   
	-ms-transition: all @time ease;          
	transition: all @time ease;		
}

.rounded-corners (@radius: 3px) {
	border-radius: @radius;
}


@font-face {
    font-family: 'montserratregular';
    src: url('../montserrat-regular-webfont.eot');
    src: url('../montserrat-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../montserrat-regular-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body {
	background-color:#FFFFFF;
	color: #FFF;
	width: 100%;
	height: 100%;		
}

html {
	width: 100%;
	height: 100%;	
}

body, .container {
	min-width: 285px;
	
}

body.preventScroll, html.preventScroll {
overflow: hidden;
}

#loaderAnimation {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	margin: auto;
	z-index: 9999;
	width: 45px;
	height: 32px;
	background-image: url(../start/loader2.gif);
	background-repeat: no-repeat;
	background-position: center center;
	background-color: rgba(0,0,0,0.7);
	opacity: 0.8;
	border-radius: 3px;
	display: none;
}

#topMost {
	height: 70px;
	position: fixed;
	z-index: 5;

	
	#logo {
		position: relative;
		height: 68px;	

		
		#symbol {	
			width: 68px;
			height: 68px;
			margin-left: 20px;
			float: left;
			cursor: pointer;
			.defaultTransition;
		}
		
		#symbol.small {	
			width: 55px;
			height: 55px;
		}
		
		
		h1 {
			float: left;
			margin-left: 20px;
			text-indent: -9999em;
			position: relative;
			top: 4px;
			background-image:url(../start/logoText.png);
			background-repeat: no-repeat;
			width: 181px;
			height: 23px;
		}		
	}	

}



h1, h2, h3, h4 {
	font-family: 'montserratregular', "Helvetica Neue", Helvetica, Arial, sans-serif;	
}

.Table-Cell {
	display: table-cell;
	vertical-align: middle;
}	


#loader {
	background-color: #1b2a3b;
	min-height: 100%;
	width: 100%;
	position: absolute;
	z-index: 6;
	
	img {
		position: absolute;
		top: ~"calc(50% - 20px)";
		left: ~"calc(50% - 30px)";
		margin: 0;
		bottom: 0;
		opacity: 1;	
		.defaultTransition(0.5s);	
	}
	
	img.transparent {
		opacity: 0.6;
	}
	
}

#section1 {
	
	#animatedBG {
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		background-image: url(../start/faceTile.jpg);
		background-repeat: repeat;
		background-position: 0 0;
		
		z-index: 1;
		opacity: 0.65;
	}
		
	background-color: #1f3144;
	min-height: 100%;
	width: 100%;
	position: relative;

    height:100%;
    display:table;
    width: 100%;
		
	background-image: url(../start/section1Bg.jpg);
	background-size: cover;
		
	#intro {
		z-index: 2;
		position: relative;
		margin: 0 auto;	
		padding: 0 30px 0 30px;
		
		p {
			font-family: Helvetica, Arial, sans-serif;		
			font-size: 0.9em;
			margin-bottom: 0.5em;
		}		
	}
	
	#formContainer {
		font-family: 'montserratregular', "Helvetica Neue", Helvetica, Arial, sans-serif;		
		margin-top: 20px;
		margin-bottom: 30px;
		
		.form-control {
			color: #FFFFFF;
			background-color: rgba(0,0,0,0.2);
			border: 1px solid rgba(255,255,255,0.4);
			font-family: Helvetica, Arial, sans-serif;					
			border-right: none;
			border-radius: 3px 0 0 3px;
			
		}
		
		.form-control {
			font-size: 1em;
			color: rgba(255,255,255,0.7);
		}
		
	
		.input-group-lg > .form-control, 
		.input-group-lg > .input-group-addon, 
		.input-group-lg > .input-group-btn > .btn {
			height: 45px;
		}			
			
		.btn-refresh {
			border-radius: 0;
			background-color: rgba(0,0,0,0.2);
			border: 1px solid rgba(255,255,255,0.4);
			border-right: none;
			border-left: none;	
			color: #FFF;
			border-radius: 0;
			
			img {
				opacity: 0.8;
				position:relative;
				top: -1px;
				.defaultTransition;	
			}			
		}
		

		
		
		.btn-refresh:hover img {
			opacity: 0.95;
			transform:rotate(180deg);
			-ms-transform:rotate(180deg); /* IE 9 */
			-webkit-transform:rotate(180deg); /* Safari and Chrome */	
		}
		
		
		.btn-refresh:active img {
			opacity: 0.5;
		}
		
		.btn-start {
			background-color: #bf1f28;
			border: none;
			color: #FFF;
			border-bottom: 3px solid #a5171f;
			font-size: 17px;
			padding: 12px 20px;
			border-radius: 0 2px 2px 0;	
		}
		
		.btn-start:hover {
			background-color: #D6232C;
		}
		
		.btn-start:active {
			background-color: #bf1f28;
			border-bottom: 3px solid #bf1f28;
			padding: 14px 20px;
			border-radius: 0 2px 2px 0;	
		}	
		
		
			
			
	}
	
	#footer {

		position: absolute;
		height: 50px;
		bottom: 0;	
		left: 0;
		z-index: 2;
	}
	
	
} /* end #secion1 */


.btn-primary {
	background-color: #2f715c;
	border: none;
	color: #FFF;
	border-bottom: 3px solid #296552;
	font-size: 1em;
	border-radius: 2px;	
}

.btn-primary:hover {
	background-color: #37876e;
	border-bottom: 3px solid #2f715c;	
	color: #FFF;		
}

.btn-primary:active {
	color: #FFF;		
	background-color: #2f715c;
	border-bottom: 3px solid #296552;
}	

.btn-primary:focus {
	background-color: #2f715c;	
	color: #FFF;
	border-bottom: 3px solid #296552;			
}


.btn-danger {
	background-color: #bf1f28;
	border: none;
	color: #FFF;
	border-bottom: 2px solid #a5171f;
	font-size: 1em;
	padding: 5px 10px 5px 10px;
	border-radius: 2px;	
}

.btn-danger:hover {
	background-color: #D6232C;
}

.btn-danger:active {
	background-color: #bf1f28;
	border-bottom: 2px solid #bf1f28;
	padding: 6px 10px 4px 10px;
}	

.btn-red {
	background-color: #bf1f28;
	border: none;
	color: #FFF;
	border-bottom: 3px solid #a5171f;
	font-size: 1em;
	padding: 8px 20px 8px 20px;
	margin-top: 5px;
	border-radius: 2px;	
}

.btn-red:hover {
	background-color: #D6232C;
	color: #FFF;		
}

.btn-red:active {
	color: #FFF;		
	background-color: #bf1f28;
	border-bottom: 3px solid #bf1f28;
	padding: 10px 20px 6px 20px;
}	

.btn-red:focus {
	color: #FFF;		
}	






#submitFeedback {
	margin-right: 5px;
}

.btn-green {
	background-color: #2f715c;
	border: none;
	color: #FFF;
	border-bottom: 3px solid #296552;
	font-size: 1em;
	padding: 8px 20px 8px 20px;
	margin-top: 5px;
	border-radius: 2px;	
}

.btn-green:hover {
	background-color: #37876e;
	border-bottom: 3px solid #2f715c;	
	color: #FFF;		
}

.btn-green:active {
	color: #FFF;		
	background-color: #2f715c;
	border-bottom: 3px solid #296552;
	padding: 10px 20px 6px 20px;
}	

.btn-green:focus {
	color: #FFF;		
}	






.btn-faq {
	background-color: #1f3144;
	border: none;
	color: #FFF;
	border-bottom: 3px solid #182635;
	font-size: 1em;
	padding: 8px 20px 8px 20px;
	margin-top: 20px;
	margin-bottom: 0;		
	border-radius: 2px;	
}

.btn-faq:hover {
	background-color: #24384e;
	border-bottom: 3px solid #1f3144;	
	color: #FFF;		
}

.btn-faq:active {
	background-color: #1f3144;
	border-bottom: 3px solid #182635;
	padding: 10px 20px 6px 20px;
}	
.btn-faq:focus{
	color: #FFF;			
}


.lightblue {
	color: #63abde;	
}


.question {
	font-weight: bold;
}

.answer {
}

#faq li {
	margin-bottom: 30px;
}

#faq li ul li{
	margin-bottom: 5px;
}

#nav {
	position: relative;
	top: 20px;
	right: 20px;
	margin: 0;
	padding: 0;
	display: inline-block;
	list-style-type: none;
	font-family: 'montserratregular', "Helvetica Neue", Helvetica, Arial, sans-serif;		
	.defaultTransition;
	
	li:first-child {
		border-radius: 0 0 0 2px;	
	}
	
	li:last-child {
		border-radius: 0 0 2px 0;	
	}
	
	li {
		display: inline-block;
		line-height: 20px;
		margin: 0;
		padding: 0;
		float: left;
		height: 34px;
		
		a {
			text-transform: uppercase;
			font-size: 11px;
			display: inline-block;
			padding: 7px 15px 5px 15px;
			position: relative;
			.defaultTransition;
		}
		
		a .icon {
			width: 18px;
			height: 18px;
			font-size: 0;
			line-height: 0;
			display: inline-block;
			float: left;
			top: 1px;
			position: relative;
			margin-right: 5px;
			text-align: center;	
		}		
	}
		
}


#nav.section1  {
	
	border: 2px solid rgba(255,255,255,0.6);
	border-bottom: none;
	border-radius: 4px;		
	background-color: rgba(21,35,48,0.95);
	
	li {
		border-bottom: 2px solid rgba(255,255,255,0.6);	

		a .icon {
		}
		
		a:hover .icon {
		}
		
		a .icon.home {
			background-image: url(../start/iconHome.png);
			background-repeat: no-repeat;
		}
		
		a .icon.howItWorks {
			background-image: url(../start/iconHowItWorks.png);
			background-repeat: no-repeat;
		}
		
		a .icon.publicSessions {
			background-image: url(../start/iconPublicSessions.png);
			background-repeat: no-repeat;
		}
		
		a .icon.about {
			background-image: url(../start/iconAbout.png);
			background-repeat: no-repeat;
		}		
		
		a {
			opacity: 0.6;			
			color: #FFFFFF;
			.defaultTransition;
		/*	border-right:1px solid rgba(255,255,255,0.05);	*/
		}	
		
		a:hover {
			opacity: 1;						
			text-decoration: none;	
		}			
	}
	

	
	li:last-child a
	{
		border-right: none;
	}
	
	li.selected a {
		opacity: 1;
		background-color: rgba(255,255,255,0.05);
	}		
	

} /* end #nav.section1 */



#nav.section2 {
	
	border: 2px solid rgba(0,0,0,0.1);
	border-bottom: none;
	border-radius: 4px;	
	background-color: rgba(234,234,234,0.95);
	
	li {
		border-bottom: 2px solid rgba(0,0,0,0.1);	

		a .icon {
		}
		
		a:hover .icon {
		}
		
		a .icon.home {
			background-image: url(../start/iconHome.png);
			background-repeat: no-repeat;
			background-position: 0 -20px;			
		}		
		
		a .icon.howItWorks {
			background-image: url(../start/iconHowItWorks.png);
			background-repeat: no-repeat;
			background-position: 0 -20px;
		}
		
		a .icon.publicSessions {
			background-image: url(../start/iconPublicSessions.png);
			background-repeat: no-repeat;
			background-position: 0 -20px;			
		}
		
		a .icon.about {
			background-image: url(../start/iconAbout.png);
			background-repeat: no-repeat;
			background-position: 0 -20px;						
		}			
		
		a {
			opacity: 0.5;			
			color: #000000;
			.defaultTransition;
		/*	border-right:1px solid rgba(255,255,255,0.05);	*/
		}	
		
		a:hover {
			opacity: 0.8;						
			text-decoration: none;	
		}			
	}
	

	
	li:last-child a
	{
		border-right: none;
	}
	
	
	li.selected {
		background-color: rgba(0,0,0,0.05);
		
		a {
			opacity: 0.8;
		}
	}		

} /* end #nav.section2, #nav.section3 */

#nav.section3 {
	
	border: 2px solid rgba(0,0,0,0.1);
	border-bottom: none;
	border-radius: 4px;	
	background-color: rgba(255,255,255,0.95);
	
	
	li {
		border-bottom: 2px solid rgba(0,0,0,0.1);			

		a .icon {
		}
		
		a:hover .icon {
		}
		
		a .icon.home {
			background-image: url(../start/iconHome.png);
			background-repeat: no-repeat;
			background-position: 0 -20px;			
		}			
		
		a .icon.howItWorks {
			background-image: url(../start/iconHowItWorks.png);
			background-repeat: no-repeat;
			background-position: 0 -20px;
		}
		
		a .icon.publicSessions {
			background-image: url(../start/iconPublicSessions.png);
			background-repeat: no-repeat;
			background-position: 0 -20px;			
		}
		
		a .icon.about {
			background-image: url(../start/iconAbout.png);
			background-repeat: no-repeat;
			background-position: 0 -20px;						
		}	
				
		a {
			opacity: 0.5;			
			color: #000000;
			.defaultTransition;
		/*	border-right:1px solid rgba(255,255,255,0.05);	*/
		}	
		
		a:hover {
			opacity: 0.8;						
			text-decoration: none;	
		}			
	}
	

	
	li:last-child a
	{
		border-right: none;
	}

	
	li.selected{
		background-color: rgba(0,0,0,0.05);
		border-bottom: 2px solid rgba(0,0,0,0.07);					

		a {
			opacity: 0.8;
		}		
	}		

} /* #nav.section3 */

#nav.section4  {
	
	border: 2px solid rgba(255,255,255,0.6);
	border-bottom: none;
	border-radius: 4px;		
	background-color: rgba(37,38,39,0.95);

	
	li {
		border-bottom: 2px solid rgba(255,255,255,0.6);	

		a .icon {
		}
		
		a:hover .icon {
		}
		
		a .icon.home {
			background-image: url(../start/iconHome.png);
			background-repeat: no-repeat;
		}
		
		a .icon.howItWorks {
			background-image: url(../start/iconHowItWorks.png);
			background-repeat: no-repeat;
		}
		
		a .icon.publicSessions {
			background-image: url(../start/iconPublicSessions.png);
			background-repeat: no-repeat;
		}
		
		a .icon.about {
			background-image: url(../start/iconAbout.png);
			background-repeat: no-repeat;
		}		
		
		a {
			opacity: 0.6;			
			color: #FFFFFF;
			.defaultTransition;
		/*	border-right:1px solid rgba(255,255,255,0.05);	*/
		}	
		
		a:hover {
			opacity: 1;						
			text-decoration: none;	
		}			
	}
	

	
	li:last-child a
	{
		border-right: none;
	}
	
	li.selected a {
		opacity: 1;
		background-color: rgba(255,255,255,0.05);
	}		
	

} /* end #nav.section4 */



#joinAnExistingSession {
	min-width: 210px;
	border: 2px solid rgba(255,255,255,0.5);
	border-radius: 4px;	
	text-transform: uppercase;
	color: rgba(255,255,255,1);
	font-size: 11px;
	display: inline-block;
	padding: 7px 10px 3px 10px;
	position: relative;
	left: 20px;
	color: rgba(255,255,255,1);
	font-family: 'montserratregular', "Helvetica Neue", Helvetica, Arial, sans-serif;		
	opacity: 0.7;
	cursor: pointer;
	.defaultTransition;
	
	.icon {
		width: 18px;
		height: 18px;
		font-size: 0;
		line-height: 0;
		display: inline-block;
		float: left;
		top: 0;
		background-image: url(../start/iconJoinAnExistingSession.png);
		opacity: 0.6;
		background-repeat: no-repeat;	
		position: relative;
		margin-right: 5px;
		text-align: center;	
	}	
	
}

#joinAnExistingSession:hover {
	text-decoration: none;
	opacity: 1;	
}






#seeMore {
	text-indent: -9999em;
	background-image: url(../start/iconArrowDown.png);
	opacity: 0.5;
	background-repeat: no-repeat;	
	background-position: center center;
	height: 35px;
	width: 50px;
	display: inline-block;
	.defaultTransition;	
}
#seeMore:hover {
	opacity: 1;
}

.nopadding {
   padding: 0 !important;
   margin: 0 !important;
}

.container-full {
  margin: 0 auto;
  width: 100%;
}

#section2 {
	
	padding: 55px 0 55px 0;
	background-color: #eaeaea;	
	background-image: url(../start/section2Bg.jpg);
	background-repeat: repeat;
	min-height: 100%;
	width: 100%;
	position: relative;
	
	color:#333;

    height:100%;
    display:table;
    width: 100%;
	
	
	h2 {
		border-bottom: 2px solid #b50810;
		display: inline-block;
		padding-bottom: 5px;
		margin-bottom: 30px;
	}
	
	h3 {
		margin-bottom: 30px;
		font-size: 1.5em;		
	}
	
	ul {
		list-style-type:none;
		padding: 0;
		margin: 0;		
	}
	
	ul li {
		font-size: 1.2em;
		margin-bottom: 20px;
		background-image: url(../start/iconTick.png);
		background-repeat: no-repeat;
		background-position: 0px 5px; 
		padding-left: 35px; 		
	}
	

	
	.fourBlocks {

		
		div {
			margin-bottom: 25px;			
		}

		
		img {
			margin-bottom: 5px;
			.defaultTransition;
		}
		
		img:hover{
			
		}
	}
		
	.img-responsive {
		display: inline-block;
	}
	
}

#section3 {
	
	
	padding: 80px 0 80px 0;
	background-color: #eaeaea;		
	background-image: url(../start/section3Bg.jpg);
	background-repeat: repeat;
	min-height: 100%;
	width: 100%;
	position: relative;
	
	color:#333;

    height:100%;
    display:table;
    width: 100%;	
	
	
	.container2 {
		max-width: 750px;
		border: 1px solid rgba(0,0,0,0.1);
		border-radius: 5px;
		padding: 40px 40px 20px 40px;
		margin: 20px;
		box-shadow: 0 0 30px rgba(0,0,0,0.05);
		background-color: rgba(255,255,255,1);		
		margin: auto;		
	}	

	.refreshIcon {
		position: absolute;
		top: 5px;
		right: 20px;
		opacity: 0.4;
		.defaultTransition;
		cursor: pointer;
	}
	
	.refreshIcon:hover {
		opacity: 0.8;
		transform:rotate(180deg);
		-ms-transform:rotate(180deg); /* IE 9 */
		-webkit-transform:rotate(180deg); /* Safari and Chrome */	
	}	
	
	h2 {
		border-bottom: 2px solid #b50810;
		display: block;
		padding-bottom: 20px;
		margin-bottom: 30px;
		margin-top: 0;
		padding-top: 0;
	}
	
	h3 {
		margin-bottom: 30px;		
	}	
	
	.notice {
		margin-bottom: 30px;
	}		
		
	#tableContainer {
		.first {
			width: 10%;
		}
		
		.second, .third {
			width: 45%;
		}		
		
		a {
			color: #254566;
			font-weight: normal;
		}
		
		a:hover {
			color: #000000;
		}
		
	}
	

}

#section4 {
	
	padding: 80px 0 80px 0;
	background-color: #252627;	
	background-image: url(../start/section4Bg.png);	
	background-repeat: no-repeat;
	min-height: 100%;
	width: 100%;
	position: relative;
	
	color:#333;

    height:100%;
    display:table;
    width: 100%;	
		

	font-size: 1em;
	line-height: 1.2em;
	color:#CCC;
	

	.btn-fb {
		background-image:url(../start/iconFB.png);
		background-repeat: no-repeat;
		background-position: 15px 10px;
		background-color: #3b579d;
		border: none;
		color: #FFF;
		border-bottom: 3px solid #2c4582;
		font-size: 1em;
		padding: 8px 15px 8px 30px;
		margin-top: 5px;
		margin-left: 10px;
		border-radius: 2px;	
	}
	
	.btn-fb:hover {
		background-color: #4161b1;
		border-bottom: 3px solid #3b579d;	
		color: #FFF;
		text-decoration: none;
	}
	
	.btn-fb:active {
		background-image:url(../start/iconFB.png);
		background-repeat: no-repeat;
		background-position: 15px 12px;	
		color: #FFF;		
		background-color: #3b579d;
		border-bottom: 3px solid #2c4582;
		padding: 10px 15px 6px 30px;
	}	
	
	.btn-fb:focus {
		color: #FFF;		
	}		
	
	.container {
		text-align: center;
	}
	
	.container2 {
		max-width: 650px;
		margin: auto;		
	}
	
	h2 {
		margin-bottom: 40px;
		padding-bottom: 20px;		
		border-bottom: 1px solid #3a3a3a;				
	}
	
	.first {
		margin-bottom: 30px;
		
		p {
			line-height: 1.7em;
			margin-bottom: 2em;
		}
		
		.testimonials {
			background-color: rgba(255,255,255,0.03);
			border: 1px solid rgba(255,255,255,0.1);			
			margin: 0 0 20px 0;
			
			padding: 18px 0 20px 0;
			
			img {
				margin-left: 10px;
			}
			
			.text {
				padding: 10px 0 0 10px;;
			}
			
			.quote {
				font-size: 1.1em;
				line-height: 1.2em;
				font-weight: normal;
				color:#FFF;
			}
			
			.name {
				font-weight: normal;
				font-size: 0.9em;
			}
			
			p {
				margin-bottom: 5px;
			}
		}
		
		.highlight {
			font-size: 1.3em;
		}
		
		.email {
			color: #FFFFFF;
		}
	}
	
	.second {
		border-top: 1px solid #3a3a3a;		
		padding-top: 30px;
	}
	
	.email {
		color: #d01e28;
	}
	
	.fb {
		margin-left: 10px;
	}
	
	a {
		color:#FFFFFF;
		.defaultTransition;
	}
	
	a:hover {
		text-decoration: underline;		
	}
	
	.container {

	}	


	
}

#go-top {
	
	display: none;
		
	width: 40px;
	height: 40px;
	position: fixed;
	bottom: 10px;
	right: 10px;
	background-color: #000000;
	border: none;
	opacity: 0.4;
	border-radius: 4px;
	text-indent: -9999em;
	background-image:url(../start/iconArrowUp.png);
	background-position: center center;
	background-repeat: no-repeat;
}

.hideInitially {
		visibility: hidden;	
}

.hideInitially.animated {
		visibility: visible;	
}

/* Focus Removal */

.btn:focus {
	outline: none;
}
a, a:visited, a:focus, a:active, a:hover{
    outline:0 none !important;
	text-decoration: none;
}

:focus {outline:none;}
::-moz-focus-inner {border:0;}	


/* Bootstrap modal overrides*/


.form-control:focus {
/*	border-color: #66afe9;*/
	outline: 0;
	-webkit-box-shadow: none;
	box-shadow: none;
}

.input-group[class*="col-"] {
	padding-right: 15px;
	padding-left: 15px;
}


.modal-content {
	position: relative;
	background-color: #13202f;
	border: 1px solid rgba(50, 75, 105, 0.9);
}

.modal-header {
	border-bottom: 1px solid rgba(255, 255, 255, 0.1);
	background-color: rgba(255, 255, 255, 0.05);	
}

.modal-footer {
	margin-top: 0;	
	border-top: 1px solid rgba(255, 255, 255, 0.1);
	background-color: rgba(0, 0, 0, 0.05);	
}


/* Bootstrap popover overrides*/


.popover {
	background-color: #000;
	border: 1px solid #FFFFFF;
	z-index:6;
}
.popover-content {
	color:#FFF;
    font-size: 1em;
}

.popover.top {
	margin-top: -15px;
}

.popover.top .arrow {
	border-top-color: rgba(255, 255, 255, 1);
	border-bottom-width: 0;
}

.popover.top .arrow:after {
	border-top-color: #000000;
}


/* Custom Table for Fixed Header */

.fixed-table-container {
	width: 100%;
	height: 450px;
	margin: 10px auto 30px auto;
	/* above is decorative or flexible */
	position: relative; /* could be absolute or relative */
	padding-top: 25px; /* height of header */
	
	#empty {
		display: none;
		position: absolute;
		margin: auto;
		width: 100%;
		height: 450px;
		top: 0;
		text-align: center;
		background-color:rgba(255,255,255,1);
		z-index: 20;
		font-size: 0.9em;
		color: rgba(0,0,0,0.5);
		
		p {
			border: 1px solid rgba(0,0,0,0.1);
			margin: 160px 0 0 0;
			padding: 10px 20px 10px 20px;
			display: inline-block;
			border-radius: 4px;
		}
	}
}

.fixed-table-container-inner {
	overflow-x: hidden;
	overflow-y: auto;
	height: 100%;
}
 
.header-background {
	height: 15px; /* height of header */
	position: absolute;
	top: 0;
	right: 0;
	left: 0;
}

table {
	width: 100%;
	overflow-x: hidden;
	overflow-y: auto;
}

.th-inner {
	position: absolute;
	top: 0;
	line-height: 15px; /* height of header */
	text-align: left;
	padding-left: 5px;
	margin-left: -5px;
}
.first .th-inner {
	padding-left: 6px;
}











@media (max-width: 992px) { 



	#section1 #intro {
		padding-top: 100px;
		padding-bottom: 100px;		
	}	

	.nomobile {
		display: none;
		visibility: hidden;
	}
	
	#joinAnExistingSessionRow{
		width: 100%;
		position: relative;
		
		#joinAnExistingSession {
			width: 200px;			
			left: auto;
			margin: auto;
			display: block;
		}
	}	

	#nav {
		
		li {
			float: left;
			display: block;
	
			
			.text {
				display: none;
			}
			
			a {
				text-transform: uppercase;
				font-size: 11px;
				padding: 7px 15px 5px 15px;
				text-align: left;
				position: relative;
				.defaultTransition;
				
				.icon {
					margin-right: 0;
				}			
			}
			
		}
	}
}

@media  (max-width: 640px){
	
	h2 {
		font-size: 22px;
	}

	h3 {
		font-size: 16px;
	}

	#section1 {

	}
		
	#section2, #section3, #section4 {
		padding: 20px 0 20px 0;
	}
	
	#topMost {
		position: absolute;
	}
	
	#logo h1 {
		visibility: hidden;
	}	
}

@media (max-width: 420px) { 

	#nav {
		display: none;
	}
	
}



